<li><a href="/internships/new">Add internship</a></li>
<li>|</li>
<li><a href="/import_csv">Import a CSV</a></li>
<li>|</li>
<li><a href="/download_csv">Download the CSV</a></li>
<li>|</li>
<li><a href="/update_password">Change your password</a></li>
<li>|</li>
<li><a href="/logout">Logout</a></li>
