<form action="../import_csv" method="post" enctype='multipart/form-data'>
  <h1>Hello Maureen</h1>
  <h2>Ready to input a CSV?</h2>
  <label for="csv_file_input">Input the path to your csv:</label>
  <input id="csv_file_input" name="csv_file_input" type="file">
  <p>This CSV needs to be formatted correctly, but it can be whatever length you want, it will update where appropriate and create new internships where appropriate.  Go nuts! </p>
  <button class="btn btn-primary" action="submit">Submit!</button>
</form>
