<h1>Epicodus Internships</h1>

<p>Thanks for your interest in mentoring interns from Epicodus. Please take a moment to fill out this form to get the process started!
Here's the internship information page for your reference: <a href="https://www.epicodus.com/internships.html"></a>www.epicodus.com/internships.html</p>

<p>Major dates to remember:</p>

<p>Interviews will take place over a half day at Epicodus the week of March 23 to 27.</p>

<p>Internships start April 20, 2015 and end May 22, 2015 (5 weeks total).</p>

<p>Epicodus schedules a job fair for every class 2 weeks before internships end; expect interns to be out for part of the day on Friday, May 8.</p>

<form id="form_id" action="index.html" method="post">
  <h4>Tell us a bit about your company</h4>
  <div class="form-group">
    <label for="company_name">Your company name</label>
    <input type="text" id="company_name">

    <label for="contact_name">Who is the primary contact at your company who will coordinate the internship?</label>
    <input type="text" id="contact_name">

    <label for="contact_phone">What phone number can they be reached at?</label>
    <input type="text" id="contact_phone">

    <label for="contact_email">And their email?</label>
    <input type="text" id="contact_email">

    <label for="company_website">Website</label>
    <input type="text" id="company_website">

    <label for="company_address">Physical Address</label>
    <input type="text" id="company_address">

    <label for="company_description">Provide a brief description of your company and what it does</label>
    <textarea id="company_description" rows="5"></textarea>
  </div>
  <div class="form-group">
    <h4>Internship Description</h4>
    <p>This information will be provided directly to students so that they can select companies they are interested in interviewing with.</p>

    <label for="intern_work">Provide a brief description of your company and what it does</label>
    <textarea id="intern_work" rows="5"></textarea>

    <label for="intern_ideal">Provide a brief description of your company and what it does</label>
    <textarea id="intern_ideal" rows="5"></textarea>

    <label for="intern_count">Provide a brief description of your company and what it does</label>

    <div class="radio" style="margin-left: 20px">
      <input type="radio" name="intern_count" id="intern_count" value="2"><label>2</label>
      <input type="radio" name="intern_count" id="intern_count" value="3"><label>3</label>
      <input type="radio" name="intern_count" id="intern_count" value="4"><label>4</label>
      <input type="radio" name="intern_count" id="intern_count"><label>Other: <input type="text" id="intern_count"></label>
    </div>
  </div>
  <div class="form-group">
    <h4>Who will be the primary mentor or technical sponsor for interns and point of contact for Epicodus during the internship? (If different than above)</h4>
    <p>As a reminder, to participate in the internship you must have a more experienced developer on staff who can mentor students. And I will plan to check in at least twice during the internship to be a resource for the intern mentor.</p>
    <p>If you prefer to identify a mentor once the intern match has been made please let me know.</p>

    <label for="mentor_name">Name</label>
    <input type="text" id="mentor_name">

    <label for="mentor_email">Email</label>
    <input type="text" id="mentor_email">

    <label for="mentor_phone">Phone</label>
    <input type="text" id="mentor_phone">
  </div>
  <button class="btn btn-primary" action="submit">Submit</button>
</form>
