<h2>Current Internship Opportunities</h2>

<ul class="list-unstyled">
  <% @internships.each do |internship| %>
    <li><a href="/internships/<%= internship.id %>"><%= internship.company_name %></a></li>
  <% end %>
</ul>
