<!DOCTYPE html>
<html>
  <head>
    <title>MoTools</title>
    <link rel="stylesheet" href="/css/CollaboApp.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
