<!DOCTYPE html>
<html>
  <head>
    <title>MoTools</title>
    <link rel="stylesheet" href="/css/CollaboApp.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Epicodus Internships</h1>
        <ul class="main-navigation list-unstyled">
          <li><a href="/">Home</a></li>
          <li>|</li>
          <% if logged_in? && admin? %>
            <%= erb :admin_toolbar, layout: false %>
          <% elsif logged_in? %>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/login">Login</a></li>
            <li>|</li>
            <li><a href="/register">Register</a></li>
          <% end %>
        </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
