<h1>Enter new password</h1>

<div class="login-form">
  <form id="update_password" action="/update_password" method="post">
    <div class="form-group col-xs-5">
      <label for="old_password">Old Password</label>
      <input type="password" name="old_password">
    </div>
    <div class="form-group col-xs-5">
      <label for="new_password">New Password</label>
      <input type="password" name="new_password">
    </div>
    <div class="form-group col-xs-5">
      <label for="password_confirmation">Reenter New Password</label>
      <input type="password" name="password_confirmation">
    </div>
    <button class="col-xs-2" name="submit">Submit</button>
  </form>
</div>