input {
  max-width: 25%;
}

.main-navigation li {
  display: inline;
}

.internships-ul {
  list-style: none;
}

.table-header th {
  text-align: center;
  font-size: 18px;
}

.table-row td {
  text-align: center;
}

.table-row th {
  text-align: center;
}

.table-rating th {
  text-align: right;
  width: 20%;
}
