input {
  max-width: 25%;
}

.main-navigation li {
  display: inline;
}

.internships-ul {
  list-style: none;
}

.table-header th {
  text-align: center;
  font-size: 18px;
}

.table-row td {
  text-align: center;
}

.table-row th {
  text-align: center;
}

.table-rating th {
  text-align: right;
  width: 20%;
}

.table-internships th {
  width: 20%;
}

.color-10 {
  background-color: red;
}

.color-1 {
  background-color: orange;
}

.color0 {
  background-color: yellow;
}

.color1 {
  background-color: mediumseagreen;
}

.color3 {
  background-color: lawngreen;
}
